@model MvcLab.Models.CatsModel;

@{
 ViewData["title"] = "Katter";
 Layout = "_Layout";
}

<h2>Katter</h2>

<p>Lägga till nya katter här:</p>

<form method="post">
    <div class="form-group">
        <label asp-for="Name"></label><br>
        <input asp-for="Name" class="form-control" /><br>
        <label asp-for="Breed"></label><br>
        <input asp-for="Breed" class="form-control" /><br>
        <label asp-for="Color"></label><br>
        <input asp-for="Color" class="form-control" /><br>
        <label asp-for="Age"></label><br>
        <input asp-for="Age" class="form-control" /><br>
        <input type="submit" value="Lägg till" class="btn" />
    
    </div>
    
    </form>