@model MvcLab.Models.CatsModel

<h2>Edit Cat</h2>
<!--form for editing cats data-->
<form asp-action="EditCat">
    <input type="hidden" asp-for="Id" />
    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" />
    </div>
    <div>
        <label asp-for="Breed"></label>
        <input asp-for="Breed" />
    </div>
    <div>
        <label asp-for="Color"></label>
        <input asp-for="Color" />
    </div>
    <div>
        <label asp-for="Age"></label>
        <input asp-for="Age" />
    </div>
    <input type="submit" value="Save" />
</form>