<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body>
   <div class="headerContainer"
        <h1>Home</h1>
        <p>Hej och välkommen till min sida om katter!</p>
    <header>
    <h1>Home</h1>
  <nav>
    <ul>
    <li><a href="#">Om sidan</a></li>
    <li><a href="#">Katter</a></li>
    </ul>
    </nav>
</header>
</div>
    <div class="container">
    <h2>Hello there!</h2>
        <p>Detta är en sida om katter. Här kan du läsa om olika katter och deras egenskaper. Du kan även lära dig om kattens historia
 <div class="container">

    </div>
    <footer>
        Aleksandra Kuzeleva
    </footer>

</html>